.Container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container button {
  position: absolute;
  opacity: 0;
  z-index: 101;
  width: 100vw;
  height: 100%;
}

.Deck {
  transform: translate(0%, 0%);
  /* background-color: green; */
  /* border: 1px solid black; */
  /* box-sizing: border-box; */
}
