.Information a {
  color: #e4e4e4;
  font-size: small;
  text-decoration: none;
}

.Information p {
  margin: 10px;
  width: 100%;
}

.Socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}
