.About {
  height: max-content;
  background-color: white;
  flex-grow: 5;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: small;
  color: #444;
}

.About h1 {
  font-size: 26pt;
  font-weight: normal;
}

.About h2 {
  color: #455768;
}

.About h3 {
  margin: 5px;
  font-size: 10pt;
}

.Summary {
  color: #696969;
  font-size: smaller;
  text-align: justify;
  padding: 8px;
}
