.Contact {
  background-color: #455768;
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  flex-direction: column;
  padding: 20px;
  color: #e4e4e4;
}

.Name {
  display: grid;
  /* column-gap: 1px; */
  grid-template-areas:
    "name ."
    ". surname";
}

.Photo {
  display: flex;
  justify-content: center;
}

.Photo img {
  border: solid 1px black;
}
