body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Arial" "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: small;
  background-color: #f3f2ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 13pt;
}

h2 {
  font-size: 11pt;
}
